.toogle__button{
   height:24px;
   display: flex;
   flex-direction: column;
   width: 30px;;
   background: transparent;
   justify-content: space-around;
   box-sizing: border-box;
   border: none;
   cursor: pointer;
   padding: 0;
}
@media(min-width:768px){
    .toogle__button{
        display: none;
    } 
}
.toogle__button:hover{
    transform: translateY(-2px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.8);
}
.toogle__button:active{
    transform: translateY(-1px);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
}
.toogle__button:focus{
    outline: none;
}
.toogle__button--line{
    height:1px;
    width:30px;
    background: white;
}