.sidedrawer{
    height: 100%;
    background: white;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    bottom:0;
    max-width:400px;
    z-index: 200;
    width:75%;
    justify-content: center;
    text-align: center;
    animation: trans 0.20s ease-out;
}
@keyframes trans {
    0%{
        opacity:0;
        transition: ease-out;
        transform: translateX(0%);;
    }
    60%{
        opacity:0.1;
        transition: ease-out;
        transform: translateX(60%);;
    }
    100%{
        opacity:1;
        transition: ease-out;
        transform: translateX(100%);;
    }
}



.sidedrawer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    height:100%;
}

.sidedrawer li{
    margin:  .5rem 0px;
}


.sidedrawer a{
    color:purple;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.sidedrawer a:hover,
.sidedrawer a:active{
    color:orange;
}