light green: #76d56f 
   medium green: #55c57a
   Dark green: #28b485


*{
    margin:0px;
    padding:0px;
}

.navbar.is-fixed-top {
    top: 0;
    background: transparent;
    background: linear-gradient(to right, #76d56fe8 , #28b485e8 );
}

.navbar-end {
    justify-content: flex-end;
    margin-right: auto;
}

.navbar-start {
    justify-content: flex-start;
    margin-left: 566px;
}

.control{
    display:inline-block;
    margin-right:15px;
}

.cards{
    display: flex;
    padding: 40px 0px 40px 90px;
   
}

.card1{
    flex:1;
    margin-right: 8%;
}
.card2{
    flex: 1;
    margin-right: 8%;
}
.card3{
    flex: 1;
    margin-right: 8%;
}

.box{
    margin-top:60px;
}